*, *:before, *:after{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    font-size: 1rem;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    background-color: #111;
    width: 50vw;
    height: 50vh;
    margin: auto;
    box-shadow: 2px 2px 5px 2px #111;
}

.game-cell{
    background-color: #F1E9D2;
    border: 0;
    font-size: 4rem;
}

.game-announcement{
    text-align: center;
    font-size: 3rem;
}

.button{
    padding: 8px 16px;
    background-color: #1E90FF;
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    margin: 8px;
}

.player-name{
    margin: 8px;
}

.hidden{
    display: none;
}