*, *:before, *:after{
    padding: 0;
    margin: 0;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    background-color: #111;
    width: 50vw;
    height: 50vh;
    margin: auto;
}

.game-cell{
    background-color: #F1E9D2;
    border: 0;
}